<div class="fondo">
	<div class="banner cardSpace" style="background-color:rgba(255,255,255,0.3)">
		<div class="banner-video padding">
			<img _ngcontent-c7="" class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3YZesH9sv7TTwJJMockfMnOLvayf5IvKbsxk-TKZSvZZouaLs&s" style="position:absolute;left:0;z-index:100">
			<hello name="{{ name }}"></hello>
		</div>


		<!--<img _ngcontent-c7="" class="banner-video" src="https://corporacion4m.com/assets/img/main-banner22.jpg" style="position:absolute;left:0;z-index:100">-->
	</div>
	<div class="row">
		<div class="col-md" style="height:750px">
			<div class="cardSpace" style="margin-right:0px">
				<div class="row col-md cardIntro">
					<span class="col-md-12 tituloIntro">
        ¿Qué es la Reconstrucción con Cambios?
        </span>
					<span class="col-md-12 detalleIntro">
        Para reconstruir la infraestructura dañada por el Fenómeno El Niño costero 2017, con un componente de cambio, y a realizar obras y actividades de prevención de inundaciones fluviales, pluviales y de movimientos de masas, junto con planes de desarrollo urbano con la finalidad de restituir el bienestar perdido a los ciudadanos.
      </span>
				</div>
				<div class="row col-md cardIntro">
					<span class="col-md-12 tituloIntro">
        ¿Quiénes somos? - EERCC
        </span>
					<span class="col-md-12 detalleIntro">
        Es una entidad adscrita a la PCM de carácter excepcional y temporal, la encargada de liderar la planificación y programación conjunta de las intervenciones para la reconstrucción, articular las inversiones de las distintas entidades públicas en favor de la reconstrucción, monitorear que las intervenciones se ejecuten conforme la programación realizada y fortalecer las capacidades de los gobiernos regionales y locales.
      </span>
				</div>
				<div class="row col-md cardIntro">
					<span class="col-md-12 tituloIntro">
        Misión
        </span>
					<span class="col-md-12 detalleIntro">
        La Reconstrucción con Cambios se encuentra orientada a rehabilitar y reconstruir la infraestructura dañada por el Fenómeno El Niño Costero 2017, con un componente de cambio, y a realizar obras y actividades de prevención de inundaciones fluviales, pluviales y de movimientos de masas, junto con planes de desarrollo urbano con la finalidad de restituir el bienestar perdido a los ciudadanos. detallada.
      </span>
				</div>
				<div class="row col-md cardIntro">
					<span class="col-md-12 tituloIntro">
        Visión
        </span>
					<span class="col-md-12 detalleIntro">
        Reconstruir la infraestructura dañada por el Fenómeno de El Niño Costero del 2017 que dejó serios daños en 13 regiones del país, abarcando los departamentos de Tumbes, Piura, Lambayeque, La Libertad, Áncash, Lima e Ica, y ocasionó también movimientos de masas (huaicos, derrumbes y deslizamientos) de gran intensidad en los departamentos de Cajamarca, Ayacucho, Arequipa, Huancavelica, Junín y Loreto.
      </span>
				</div>
				<div class="row col-md cardIntro">
					<span class="col-md-12 tituloIntro">
        ¿Qué es PIRCC?
        </span>
					<span class="col-md-12 detalleIntro">
        El Plan Integral para la Reconstrucción con Cambios (PIRCC), fue elaborado por la Autoridad para la Reconstrucción con Cambios tomando como insumo principal el catastro de daños reportados por los gobiernos regionales y municipalidades provinciales y distritales, que fueron validadas por el Ministerio de Transportes y Comunicaciones, Ministerio de Vivienda, Construcción y Saneamiento; Ministerio de Agricultura y Riego, Ministerio de Educación y el Ministerio de Salud.
      </span>
				</div>        
			</div>
      <div class="row col-md">
					<div class="col-md cardSpace row" style="margin-left:15px">
            <img _ngcontent-c7="" class="iconoInicio" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp50l0DzczMKQtyGbiY5aES566j5Kbnk81GF59V0Dg4htYnEAo&s">
            <span class="col-md">Organigrama</span>            
          </div>
          <div class="col-md cardSpace row" style="padding-left:15px">
            <img _ngcontent-c7="" class="iconoInicio" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT5woM0O2QgHctrOzUPTB8cYFbE9VXkHaV96DN9yVgDsWo9ndwF">
            <span class="col-md" >Documentos Legales</span>          
          </div>
				</div>
		</div>
		<div class="col-md-6 row" style="height:750px">
			<div class="col-md-4 padding cardSpace" id="chartdiv2">
			</div>
			<div class="col-md padding cardSpace" id="chartdiv">
			</div>
		</div>
	</div>
	<div class="col-md padding" style="height:200px">
		<div class="cardSpace">
		<div class="news"></div>
    </div>		
	</div>
	<div class="col-md padding" style="height:200px">
		<div class="cardSpace" style="max-height:100%"></div>
		
	</div>
</div>